In [2]:
import pandas as pd

df = pd.read_csv("students_mental_health_survey.csv")
df.head(100)

,Age,Course,Gender,CGPA,Stress_Level,Depression_Score,Anxiety_Score,Sleep_Quality,Physical_Activity,Diet_Quality,Social_Support,Relationship_Status,Substance_Use,Counseling_Service_Use,Family_History,Chronic_Illness,Financial_Stress,Extracurricular_Involvement,Semester_Credit_Load,Residence_Type
0,25,Others,Male,3.56,3,3,2,Good,Moderate,Good,Moderate,Married,Never,Never,No,No,2,Moderate,17,On-Campus
1,24,Engineering,Female,2.44,0,3,0,Average,Low,Average,Low,Single,Occasionally,Occasionally,No,No,3,Low,27,On-Campus
2,19,Business,Female,3.74,4,0,3,Good,Low,Average,Moderate,In a Relationship,Never,Occasionally,No,No,4,High,15,On-Campus
3,19,Computer Science,Male,3.65,2,1,0,Average,Low,Average,Moderate,Single,NaN,Never,No,No,4,Moderate,20,Off-Campus
4,18,Business,Male,3.40,3,3,4,Good,Low,Average,High,Married,Never,Never,No,Yes,0,High,23,On-Campus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,26,Law,Female,3.61,1,1,2,Poor,Low,Poor,Moderate,Married,Never,Never,No,No,4,Moderate,15,Off-Campus
96,21,Law,Male,4.00,1,0,4,Average,Low,Poor,Moderate,In a Relationship,Never,Never,No,No,5,Low,24,Off-Campus
97,22,Medical,Male,3.86,2,2,4,Average,Moderate,Poor,Moderate,Married,Never,Occasionally,Yes,No,2,Low,28,Off-Campus
98,19,Business,Male,3.12,2,1,2,Average,Moderate,Average,Low,Single,Never,Never,No,No,0,Low,17,On-Campus
99,25,Others,Male,3.78,5,5,1,Average,Moderate,Poor,Moderate,Single,Never,Never,No,No,0,Low,25,On-Campus

In [3]:
print(df.isnull().sum())

Age                             0
Course                          0
Gender                          0
CGPA                           12
Stress_Level                    0
Depression_Score                0
Anxiety_Score                   0
Sleep_Quality                   0
Physical_Activity               0
Diet_Quality                    0
Social_Support                  0
Relationship_Status             0
Substance_Use                  15
Counseling_Service_Use          0
Family_History                  0
Chronic_Illness                 0
Financial_Stress                0
Extracurricular_Involvement     0
Semester_Credit_Load            0
Residence_Type                  0
dtype: int64

In [4]:
df = df.dropna()
print(df)

      Age       Course  Gender  CGPA  Stress_Level  Depression_Score  \
0      25       Others    Male  3.56             3                 3
1      24  Engineering  Female  2.44             0                 3
2      19     Business  Female  3.74             4                 0
4      18     Business    Male  3.40             3                 3
5      21      Medical  Female  3.35             2                 4
...   ...          ...     ...   ...           ...               ...
7016   20          Law  Female  3.33             1                 1
7017   20          Law  Female  3.69             3                 1
7018   24      Medical  Female  3.73             3                 4
7019   26       Others    Male  3.65             4                 5
7020   24      Medical    Male  3.65             4                 3

      Anxiety_Score Sleep_Quality Physical_Activity Diet_Quality  \
0                 2          Good          Moderate         Good
1                 0       Average               Low      Average
2                 3          Good               Low      Average
4                 4          Good               Low      Average
5                 3          Good          Moderate         Good
...             ...           ...               ...          ...
7016              1       Average               Low      Average
7017              5          Good               Low         Poor
7018              1          Good          Moderate      Average
7019              1          Good              High         Poor
7020              4       Average              High         Poor

     Social_Support Relationship_Status Substance_Use Counseling_Service_Use  \
0          Moderate             Married         Never                  Never
1               Low              Single  Occasionally           Occasionally
2          Moderate   In a Relationship         Never           Occasionally
4              High             Married         Never                  Never
5              High              Single         Never                  Never
...             ...                 ...           ...                    ...
7016       Moderate   In a Relationship         Never           Occasionally
7017           High              Single         Never             Frequently
7018           High              Single         Never           Occasionally
7019       Moderate             Married         Never           Occasionally
7020       Moderate              Single         Never                  Never

     Family_History Chronic_Illness  Financial_Stress  \
0                No              No                 2
1                No              No                 3
2                No              No                 4
4                No             Yes                 0
5                No              No                 5
...             ...             ...               ...
7016             No              No                 3
7017            Yes              No                 1
7018             No              No                 3
7019             No             Yes                 4
7020             No             Yes                 4

     Extracurricular_Involvement  Semester_Credit_Load Residence_Type
0                       Moderate                    17      On-Campus
1                            Low                    27      On-Campus
2                           High                    15      On-Campus
4                           High                    23      On-Campus
5                       Moderate                    19     Off-Campus
...                          ...                   ...            ...
7016                    Moderate                    29     Off-Campus
7017                        High                    26     Off-Campus
7018                         Low                    15     Off-Campus
7019                    Moderate                    17     Off-Campus
7020                    Moderate                    18     Off-Campus

[6995 rows x 20 columns]

In [5]:
print(df.isnull().sum())

Age                            0
Course                         0
Gender                         0
CGPA                           0
Stress_Level                   0
Depression_Score               0
Anxiety_Score                  0
Sleep_Quality                  0
Physical_Activity              0
Diet_Quality                   0
Social_Support                 0
Relationship_Status            0
Substance_Use                  0
Counseling_Service_Use         0
Family_History                 0
Chronic_Illness                0
Financial_Stress               0
Extracurricular_Involvement    0
Semester_Credit_Load           0
Residence_Type                 0
dtype: int64